mrsidx-interactive-candle.flow
[{"id":"75a4fc22.3488f4","type":"http request","z":"941de0e9.5ab13","name":"Lightning Strike Light","method":"POST","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/state/singleLightningStrike","tls":"","proxy":"","authType":"basic","x":800,"y":400,"wires":[[]]},{"id":"e0a6bf83.4aba7","type":"function","z":"941de0e9.5ab13","name":"Send Thunder","func":"msg.payload = \"thunder\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["35c7640c.6b63ec"]]},{"id":"4400df2f.8cad3","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"c9325aab.079308","order":0,"width":"3","height":"2","passthru":false,"label":"Lightning","tooltip":"","color":"","bgcolor":"","icon":"fa-bolt","payload":"","payloadType":"str","topic":"lightning","x":320,"y":400,"wires":[["e0a6bf83.4aba7","75a4fc22.3488f4"]]},{"id":"b37eb65e.918fa8","type":"ui_template","z":"941de0e9.5ab13","group":"c9325aab.079308","name":"","order":1,"width":0,"height":0,"format":"<script>\nalert(flow.get('serverport'));\n\n // Create WebSocket connection.\nconst socket = new WebSocket('ws://192.168.0.10:18800/ws/lightproj');\nconst serveraddy = \"http://192.168.0.10:18800\";\nsocket.addEventListener('message', function (event) {\n\n   if(event.data == \"thunder\"){\n       play(Math.floor(Math.random() * 5));\n   }\n   if(event.data == \"rainstop\"){\n       rainstop();\n   }\n    if(event.data == \"rain\"){\n       rainplay();\n   }\n    if(event.data == \"policeradioplay\"){\n       policeradioplay();\n   }\n    if(event.data == \"policeradiostop\"){\n       policeradiostop();\n   }\n    if(event.data == \"firestop\"){\n       firestop();\n   }\n       if(event.data == \"fire\"){\n       fireplay();\n   }\n   if(event.data == \"redalertstop\"){\n       redalertstop();\n   }\n       if(event.data == \"redalert\"){\n       redalertplay();\n   }\n      if(event.data == \"policesirenstop\"){\n       policesirenstop();\n   }\n       if(event.data == \"policesiren\"){\n       policesirenplay();\n   }\n   \n   \n   \n    console.log('Message from server ', event.data);\n});\n\n\n    \n\n\n\nvar audioFiles = [\n    serveraddy + \"/audiofx/thunder1.mp3\",\n    serveraddy + \"/audiofx/thunder2.mp3\",\n    serveraddy + \"/audiofx/thunder3.mp3\",\n    serveraddy + \"/audiofx/thunder4.mp3\",\n    serveraddy + \"/audiofx/thunder5.mp3\"\n];\n    \nfunction preloadAudio(url) {\n    var audio = new Audio();\n    // once this file loads, it will call loadedAudio()\n    // the file will be kept by the browser as cache\n    audio.addEventListener('canplaythrough', loadedAudio, false);\n    audio.src = url;\n}\n    \nvar loaded = 0;\nfunction loadedAudio() {\n    // this will be called every time an audio file is loaded\n    // we keep track of the loaded files vs the requested files\n    loaded++;\n    if (loaded == audioFiles.length){\n    \t// all have loaded\n    \tinit();\n    }\n}\n    \nvar player = document.getElementById('player');\nvar rainplayer = document.getElementById('rainplayer');\nvar policeradioElem = document.getElementById('policeradioplayer');\nvar policesirenElem = document.getElementById('policesirenplayer');\nvar fireplayerElem = document.getElementById('fireplayer');\nvar redalertElem = document.getElementById('redalert');\n\n\nfunction fadeRain(){\n    var cAudio = document.getElementById('rainplayer');\n    if(cAudio.volume > 0 && cAudio.volume <= 1){\n        cAudio.volume -= 0.1;\n        cAudio.volume = Math.round(10*cAudio.volume)/10;\n        setTimeout(fadeRain, 600);\n    }else{\n        cAudio.volume = 1.0;\n        cAudio.volume = Math.round(10*cAudio.volume)/10;\n        cAudio.pause();\n        \n    }\n}\n\nfunction rainplay() {\n    var rainFile = serveraddy + \"/audiofx/rain-subtle.mp3\";\n    rainplayer.src = rainFile;\n    rainplayer.play();\n}\n\nfunction policeradioplay() {\n    var popoFile = serveraddy + \"/audiofx/policeradio.mp3\";\n    policeradioElem.src = popoFile;\n    policeradioElem.play();\n}\nfunction policeradiostop() {\n    policeradioElem.pause();\n}\n\n\nfunction firestop() {\n    fireplayerElem.pause();\n}\nfunction fireplay() {\n    var fireFile = serveraddy + \"/audiofx/fire1.mp3\";\n    fireplayerElem.src = fireFile;\n    fireplayerElem.play();\n}\n\n\nfunction redalertstop() {\n    redalertElem.pause();\n}\nfunction redalertplay() {\n    var redalertFile = serveraddy + \"/audiofx/redalert.mp3\";\n    redalertElem.src = redalertFile;\n    redalertElem.play();\n}\n\n\nfunction rainstop() {\n    rainplayer.pause();\n    //fadeRain();\n    //rainplayer.pause();\n    //rainplayer.currentTime=0;\n}\n\nfunction policesirenplay() {\n    \n    var policesirenFile = serveraddy + \"/audiofx/policesiren1.mp3\";\n    policesirenElem.src = policesirenFile;\n    policesirenElem.play();\n}\nfunction policesirenstop() {\n    policesirenElem.pause();\n}\n\nfunction play(index) {\n    player.src = audioFiles[index];\n    player.play();\n}\n    \nfunction init() {\n    // do your stuff here, audio has been loaded\n    // for example, play all files one after the other\n    var i = 0;\n    // once the player ends, play the next one\n    player.onended = function() {\n    \ti++;\n        if (i >= audioFiles.length) {\n            // end \n            return;\n        }\n    \t//play(i);\n    };\n    // play the first file\n    //play(i);\n}\n    \n// we start preloading all the audio files\nfor (var i in audioFiles) {\n    preloadAudio(audioFiles[i]);\n}\n\n</script>\n<audio id=\"player\"></audio>\n<audio id=\"rainplayer\" loop></audio>\n<audio id=\"policeradioplayer\" loop></audio>\n<audio id=\"policesirenplayer\" loop></audio>\n<audio id=\"fireplayer\" loop></audio>\n<audio id=\"redalert\" loop></audio>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":740,"wires":[[]]},{"id":"ae052377.8e3b3","type":"ui_switch","z":"941de0e9.5ab13","name":"","label":"Thunder Lightning","tooltip":"","group":"a78abfd3.1de94","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"thunderswitch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":360,"wires":[["52704807.0a2c68"]]},{"id":"52704807.0a2c68","type":"function","z":"941de0e9.5ab13","name":"Y / N?","func":"if( msg.payload === true ){\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["e0a6bf83.4aba7","75a4fc22.3488f4"]]},{"id":"2adc2ef7.f06312","type":"ui_switch","z":"941de0e9.5ab13","name":"","label":"Raining","tooltip":"","group":"a78abfd3.1de94","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"rainingswitch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":220,"wires":[["db767cad.b9713"]]},{"id":"35c7640c.6b63ec","type":"websocket out","z":"941de0e9.5ab13","name":"","server":"36d434bb.68acdc","client":"","x":870,"y":220,"wires":[]},{"id":"db767cad.b9713","type":"function","z":"941de0e9.5ab13","name":"Raining Audio","func":"flow.set('raining', msg.payload);\n\nif (flow.get('raining')){\n    msg.payload = \"rain\";\n    return [msg, null]\n} else {\n    msg.payload = \"rainstop\";\n    msg.reset = true;\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":580,"y":220,"wires":[["35c7640c.6b63ec"],["35c7640c.6b63ec"]]},{"id":"e9e228c3.a4bd58","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"c9325aab.079308","order":0,"width":"3","height":"2","passthru":false,"label":"Police Lights","tooltip":"","color":"","bgcolor":"","icon":"fa-ambulance","payload":"Police Lights","payloadType":"str","topic":"","x":150,"y":560,"wires":[["b37eb65e.918fa8","8afe2bfa.4e8948"]]},{"id":"8afe2bfa.4e8948","type":"http request","z":"941de0e9.5ab13","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/state/police","tls":"","proxy":"","authType":"basic","x":270,"y":580,"wires":[[]]},{"id":"dc0839f9.9054d8","type":"ui_switch","z":"941de0e9.5ab13","name":"","label":"Police Radio","tooltip":"","group":"a78abfd3.1de94","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"policeradio","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":260,"wires":[["c4e03942.8b1208"]]},{"id":"c4e03942.8b1208","type":"function","z":"941de0e9.5ab13","name":"Police Radio","func":"flow.set('policeradio', msg.payload);\n\nif (flow.get('policeradio')){\n    msg.payload = \"policeradioplay\";\n    return [msg, null]\n} else {\n    msg.payload = \"policeradiostop\";\n    msg.reset = true;\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":570,"y":260,"wires":[["35c7640c.6b63ec"],["35c7640c.6b63ec"]]},{"id":"78e06173.9a7bb","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"57adc191.e9aea","order":0,"width":"6","height":"2","passthru":true,"label":"Lights OFF ","tooltip":"","color":"","bgcolor":"darkred","icon":"fa-power-off","payload":"OFF","payloadType":"str","topic":"","x":150,"y":660,"wires":[["b37eb65e.918fa8","5a2e897d.57ef38"]]},{"id":"5a2e897d.57ef38","type":"http request","z":"941de0e9.5ab13","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/led/off","tls":"","proxy":"","authType":"basic","x":390,"y":680,"wires":[[]]},{"id":"6318ccfe.0cf884","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"c9325aab.079308","order":0,"width":"3","height":"2","passthru":false,"label":"Fire","tooltip":"","color":"","bgcolor":"","icon":"fa-fire","payload":"Fire","payloadType":"str","topic":"","x":150,"y":600,"wires":[["b37eb65e.918fa8","95725636.7d58c8"]]},{"id":"95725636.7d58c8","type":"http request","z":"941de0e9.5ab13","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/state/fire","tls":"","proxy":"","authType":"basic","x":270,"y":620,"wires":[[]]},{"id":"4a2fa50a.2f219c","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"c9325aab.079308","order":0,"width":"3","height":"2","passthru":false,"label":"Rainbow","tooltip":"","color":"","bgcolor":"","icon":"fa-palette","payload":"Rainbow","payloadType":"str","topic":"","x":200,"y":800,"wires":[["b37eb65e.918fa8","a670247d.958978"]]},{"id":"a670247d.958978","type":"http request","z":"941de0e9.5ab13","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/state/rainbow","tls":"","proxy":"","authType":"basic","x":310,"y":820,"wires":[[]]},{"id":"76870939.84b448","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"c9325aab.079308","order":0,"width":"3","height":"2","passthru":false,"label":"Strobe","tooltip":"","color":"","bgcolor":"","icon":"fa-bolt","payload":"Strobe Light","payloadType":"str","topic":"","x":190,"y":860,"wires":[["b37eb65e.918fa8","26a0bcf9.f26b94"]]},{"id":"26a0bcf9.f26b94","type":"http request","z":"941de0e9.5ab13","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/state/strobe","tls":"","proxy":"","authType":"basic","x":310,"y":880,"wires":[[]]},{"id":"963d8074.0badc","type":"ui_switch","z":"941de0e9.5ab13","name":"","label":"Fire","tooltip":"","group":"a78abfd3.1de94","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"fireswitch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":180,"wires":[["7f13376e.98bf58"]]},{"id":"7f13376e.98bf58","type":"function","z":"941de0e9.5ab13","name":"Fire Audio","func":"flow.set('fire', msg.payload);\n\nif (flow.get('fire')){\n    msg.payload = \"fire\";\n    return [msg, null]\n} else {\n    msg.payload = \"firestop\";\n    msg.reset = true;\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":560,"y":180,"wires":[["35c7640c.6b63ec"],["35c7640c.6b63ec"]]},{"id":"cb292cf7.0f827","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"c9325aab.079308","order":0,"width":"3","height":"2","passthru":false,"label":"Red Hazzard","tooltip":"","color":"","bgcolor":"","icon":"fa-exclamation-triangle","payload":"Red Hazzard","payloadType":"str","topic":"","x":210,"y":920,"wires":[["b37eb65e.918fa8","c6de3a19.d12698"]]},{"id":"c6de3a19.d12698","type":"http request","z":"941de0e9.5ab13","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/state/redhazzard","tls":"","proxy":"","authType":"basic","x":310,"y":940,"wires":[[]]},{"id":"c2f09da5.c1e4","type":"ui_switch","z":"941de0e9.5ab13","name":"","label":"Red Alert","tooltip":"","group":"a78abfd3.1de94","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"redalert","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":140,"wires":[["59350b98.f16964"]]},{"id":"59350b98.f16964","type":"function","z":"941de0e9.5ab13","name":"Red Alert Audio","func":"flow.set('redalert', msg.payload);\n\nif (flow.get('redalert')){\n    msg.payload = \"redalert\";\n    return [msg, null]\n} else {\n    msg.payload = \"redalertstop\";\n    msg.reset = true;\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":580,"y":140,"wires":[["35c7640c.6b63ec"],["35c7640c.6b63ec"]]},{"id":"884571b3.2c0ef","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"57adc191.e9aea","order":0,"width":"6","height":"2","passthru":true,"label":"All Audio OFF ","tooltip":"","color":"","bgcolor":"darkred","icon":"fa-power-off","payload":"false","payloadType":"bool","topic":"","x":100,"y":160,"wires":[["ae052377.8e3b3","2adc2ef7.f06312","dc0839f9.9054d8","963d8074.0badc","c2f09da5.c1e4","288bfcce.e8cb74"]]},{"id":"288bfcce.e8cb74","type":"ui_switch","z":"941de0e9.5ab13","name":"","label":"Police Siren","tooltip":"","group":"a78abfd3.1de94","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"policesiren","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":100,"wires":[["98051478.4824c8"]]},{"id":"98051478.4824c8","type":"function","z":"941de0e9.5ab13","name":"Police Siren Audio","func":"flow.set('policesiren', msg.payload);\n\n\nif (flow.get('policesiren')){\n    msg.payload = \"policesiren\";\n    return [msg, null]\n} else {\n    msg.payload = \"policesirenstop\";\n    msg.reset = true;\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":590,"y":100,"wires":[["35c7640c.6b63ec"],["35c7640c.6b63ec"]]},{"id":"d0676483.823438","type":"ui_button","z":"941de0e9.5ab13","name":"","group":"57adc191.e9aea","order":0,"width":"6","height":"2","passthru":false,"label":"ALL OFF ","tooltip":"","color":"","bgcolor":"darkgrey","icon":"fa-power-off","payload":"false","payloadType":"bool","topic":"","x":60,"y":320,"wires":[["78e06173.9a7bb","884571b3.2c0ef"]]},{"id":"b8c9c08d.3049b","type":"ui_colour_picker","z":"941de0e9.5ab13","name":"","label":"Solid Color","group":"c9325aab.079308","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":7,"width":"3","height":"2","passthru":true,"topic":"","x":330,"y":440,"wires":[["7125c9de.0d9d88"]]},{"id":"a0401d4b.b5d8","type":"debug","z":"941de0e9.5ab13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":440,"wires":[]},{"id":"7125c9de.0d9d88","type":"function","z":"941de0e9.5ab13","name":"","func":"var r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b;\n\nmsg.payload = \"?r=\"+r+\"&g=\"+g+\"&b=\"+b;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["63755ae4.6a87b4"]]},{"id":"398dce9f.b12bf2","type":"function","z":"941de0e9.5ab13","name":"global variables init","func":"//ADJUST THESE TO YOUR NETWORK: \n//NOTE THAT SOME BROWSERS DON'T RESOLVE DNS\n//NAMES SO A NUMERIC IP MIGHT WORK BETTER\n\nflow.set(\"serverport\", \"18800\");\nflow.set(\"serverdomain\",\"192.168.0.10\");\nflow.set(\"lightaddress\", \"lightproj.local\");\n\nflow.set(\"serveraddress\", \"http://\" + flow.get('serverdomain') + \":\" + flow.get('serverport'));\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":40,"wires":[[]]},{"id":"8fff861b.b102d8","type":"inject","z":"941de0e9.5ab13","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["398dce9f.b12bf2"]]},{"id":"63755ae4.6a87b4","type":"http request","z":"941de0e9.5ab13","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://lightproj1.local/setcolor","tls":"","proxy":"","authType":"basic","x":600,"y":440,"wires":[["a0401d4b.b5d8"]]},{"id":"1d7e7a23.2d3e56","type":"comment","z":"941de0e9.5ab13","name":"README.md","info":"This flow is the UI and audio player.\n\n\nPlease setup the global variables Node to enter\nyour server address information.\n\n\n## Web Controll Interface:\nvisit:   <server address>:<node-red port>/ui\nie:  http://myPiserver.local:1880/ui\nor:  http://192.168.0.10:1880/ui\n\nSUMMARY:\nClient loads UI controls page (above), page loads\naudio sounds from server.\nUI events send HTTP request to microcontroller,\nprocesses and changes states to do lighting \nanimation or effect.\n\nSound switches turn on and off the sounds.\n\nUI sends WebSocket signal to client, client then plays\nloaded audio file.\n\nMultiple clients can all share the same UI\nand all play the audio effects from their \nendpoints.  One node can trigger audio switch,\nchanges on all other connected endpoints.\n\n\nFURTHER:\n\nButtons will change the lighting effect according\nto the button label  ie:  strobe, rainbow, etc.\n\nThe node-red UI interface will send a HTTP request\nto the Arduino Wifi unit (should be sharing the same\nwifi network)\n\nArduino code can specify a mDNS local name to call\nto, but this could be faulty if you are using\na client browser that doesn't support DNS local\nname resolusions.  IP numerical addressing would\nwork better in this case, on the local network.\n\nSwitches will turn on and off the sounds played\nthrough the client's browser endpoint, through \nthe controll UI.  If no sounds are coming through,\ncheck your server address settings in the Global Variables\nfunction node, and check that your browser can\nresolve an address name like  myPiServer.local,\nif not, try using the numerical IP address instead\nof a name.  [ie   myPiServer.local  VS  192.168.0.10]\n\nARDUINO CONTROLLER:\nYou will need to reflash the microcontroller to your\nspecific network,  change the WiFi settings to\nmatch your router Wifi SSID Name and Password,\nThe light module used to develop this is the \nAdafruit Huzzah Feather with Neopixel shield,\nYou may need to adjust some neopixel settings\nto match your neopixel count and settings, if \nyou are using a different configuration.\n\nIf connected correctly, you will be able to change \nthe lighting of the controller's neopixels using\nthe UI Web interface.\n\n\nYou can add more effects etc..\nBut you will need to hard code this for now.\n\n\n\n\n\n\n","x":550,"y":40,"wires":[]},{"id":"c9325aab.079308","type":"ui_group","z":"","name":"Light Effects","tab":"51da84da.ae8a0c","disp":true,"width":"10","collapse":false},{"id":"a78abfd3.1de94","type":"ui_group","z":"","name":"Sound FX","tab":"51da84da.ae8a0c","disp":true,"width":"4","collapse":true},{"id":"36d434bb.68acdc","type":"websocket-listener","z":"","path":"/ws/lightproj","wholemsg":"false"},{"id":"57adc191.e9aea","type":"ui_group","z":"","name":"Main","tab":"51da84da.ae8a0c","disp":true,"width":"6","collapse":false},{"id":"51da84da.ae8a0c","type":"ui_tab","z":"","name":"Light Proj","icon":"dashboard","disabled":false,"hidden":false}]
